{% extends "layout.html" %}
{% block title %}Пиши властям — электронные обращения в органы власти через интернет по закону N59-ФЗ{% endblock %}
{% block content %}
<header class="header">
    <div class="row">
        <div class="col-md-6">
            <h1>Пиши властям</h1>
            <p class="lead">По&nbsp;закону вы можете обратиться в&nbsp;любой орган власти и&nbsp;получить ответ
                по&nbsp;существу в&nbsp;течение 30&nbsp;дней. </p>
            <p class="lead">Это можно сделать через&nbsp;интернет.</p>
            <p class="lead">На&nbsp;этом сайте собраны <a href="#authorities">ссылки</a> на&nbsp;формы для&nbsp;отправки обращений на&nbsp;сайтах всех органов власти.</p>
        </div>
        <div class="col-md-6">
            <div class="law">
                <h2>Закон&nbsp;№59-ФЗ об&nbsp;обращениях граждан</h2>
                <h3>Можно</h3>
                <ul>
                    <li>обратиться в&nbsp;органы власти<sup><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&cwi=0#h89" target="_blank" rel="noopener">2</a></sup> в&nbsp;бумажном, электронном или&nbsp;устном
                        виде<sup><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&rangeId=336419" target="_blank" rel="noopener">4.2</a></sup></li>
                    <li>получить ответ по&nbsp;существу<sup><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&rangeId=336420" target="_blank" rel="noopener">5.3</a></sup> в&nbsp;течение 30&nbsp;дней<sup><a
                                href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&rangeId=336421" target="_blank" rel="noopener">12.1</a></sup></li>
                    <li>пожаловаться<sup><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&rangeId=336422" target="_blank" rel="noopener">5.4</a></sup> на&nbsp;результат рассмотрения</li>
                    <li>взыскать убытки и&nbsp;компенсировать моральный вред через суд, если власти нарушат закон при&nbsp;рассмотрении обращения<sup><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&rangeId=336423"
                                target="_blank" rel="noopener">16.1</a></sup></li>
                </ul>
                <h3>Нельзя</h3>
                <ul>
                    <li>писать в&nbsp;обращении оскорбления, угрозы<sup><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&rangeId=336424" target="_blank" rel="noopener">11.3</a></sup> и&nbsp;заведомо ложные
                        сведения<sup><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&rangeId=336425" target="_blank" rel="noopener">16.2</a></sup></li>
                    <li>обжаловать в&nbsp;обращении судебное решение<sup><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&rangeId=336426" target="_blank" rel="noopener">11.2</a></sup></li>
                </ul>
                <p>Запрещено преследовать граждан за&nbsp;обращения и&nbsp;разглашать их личные сведения.<sup><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&cwi=0#h93" target="_blank" rel="noopener">6</a></sup>
                </p>
                <p><a href="https://normativ.kontur.ru/document?moduleId=1&documentId=158860&cwi=0" target="_blank" rel="noopener">Полный текст закона</a></p>
            </div>
        </div>
    </div>
</header>
<section class="authorities" id="authorities">
    {% for section in sections %}
    <h2>{{ section["name"] }}</h2>
    <div class="row">
        {% for column in section["columns"] %}
        <div class="col-md-4">
            {% for entry in column %}
            <h3>{{ entry["name"] }}</h3>
            {% for authority in entry["authorities"] %}
            <p>
                {% if authority["feedbackUrl"] %}
                <a href="{{ authority["feedbackUrl"] }}" target="_blank" rel="noopener">{{ authority["name"] }}</a>
                {% else %}
                {{ authority["name"] }}
                {% endif %}
            </p>
            {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>
<section class="feedback">
    <p>Обратная связь: <a href="mailto:zharkovstas@gmail.com">zharkovstas@gmail.com</a></p>
</section>
{% if release %}
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
{% endif %}
{% endblock %}