<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Пиши властям{% endblock %}</title>
    <meta name="description" content="По закону N59-ФЗ можно обратиться в любой орган власти и получить ответ за 30 дней. Здесь собраны все ссылки для обращения в органы власти">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Пиши властям" />
    <meta property="og:title" content="Пиши властям" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:description" content="По закону N59-ФЗ можно обратиться в любой орган власти и получить ответ за 30 дней. Здесь собраны все ссылки для обращения в органы власти" />
    <meta name="twitter:title" content="Пиши властям" />
    <meta property="twitter:description" content="По закону N59-ФЗ можно обратиться в любой орган власти и получить ответ за 30 дней. Здесь собраны все ссылки для обращения в органы власти" />
    <meta name="yandex-verification" content="79faefd5d9379752" />
    <meta name="google-site-verification" content="UksX4RAPBT1e5cPF-JtZNDRW_-sr4YZVfCw6TvPuI-k" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="/css/bootstrap-lite.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    {% if release %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% include "counters.html" %}
    {% endif %}
</head>

<body>
    <div class="container">
{% block content %}{% endblock %}
    </div>
</body>

</html>